form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

form >* {
  margin: .2rem;
}

.tree {
  font-family: 'Courier New', Courier, monospace;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.tree p {
  text-align: center;
  width: auto;
}